@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$yellow: #F8DB6C;
$blue: #00B8DF;
$red: #E36799;
$black: #000;
$white: #fff;

$header-scale: 3rem;

$mobile: 667px;
$tablet: 899px;
$desktop: 1024px;


:root{
  font-family: 'Comfortaa', cursive;
  background-color: $black;
  color: $white;
  font-size: 16px;
  scroll-behavior: smooth;
}

//Typography
h1,h2{
  text-transform: lowercase;
}

p{
  font-family: 'Open Sans', sans-serif;
}

// Page Tags
header{

  width: 98vw;
  height: 90vh;

  & #header-graphic{
    display: block;
    width: 100%;
  }

  & h1 {
      margin: 0;
      font-weight: bold;
      font-size: $header-scale;
  }
}

footer{
  display: block;
  position: fixed;
  bottom: 0;

  z-index: 2;
  
  width: 100%;
  padding: 1rem;
  font-size: 0.8rem;

  border-top: solid 1px white;

  background-color: rgba(0,0,0,0.9);
}

nav{
  display: block;
  position: fixed;
  top: 0;

  z-index: 2;
  
  width: 100%;
  padding: 0.5rem;

  background-color: rgba(0,0,0,0.7);

  & ul{
    margin: 0;
    padding: 0;
  }

  & li{
    list-style: none;
    display: inline-block;
  }

  & a{
    padding: 0 2rem 0 0;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    transition: 250ms;

    &:hover{
      color: $blue;
    }
  }

  & .page-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
}

a{
  &.button-link{
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
  
    color: $blue;
    background-color: rgba(0,0,0,0);
    border: solid $blue 3px;
    border-radius: 0.75em;
  
    margin: 0.2em;
    padding: 0.5em 1em;
    width: fit-content;
  
    transition: all 0.2s ease-in-out;
  
    &:hover{
      background-color: $blue;
      color: rgba(0,0,0,1);
    }
  
  }
}


// Color
.color{
  background-color: $white;
  width: 100%;
  height: calc(#{$header-scale} - 5px);
  border-radius: $header-scale;
  margin: 0 1rem; 
}

.yellow{
  background-color: $yellow;
}
.blue{
  background-color: $blue;
}
.red{
  background-color: $red;
}

// Flex Box
.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  align-items: center;
  justify-content: center;
}

// Pages
#header{
  min-height: 100vh;
}

#about{
  min-height: 100vh;
  padding: 6rem 1rem;
}

#video{
  min-height: 100vh;
  padding: 8em 10em;

  @media screen and (max-width: $tablet) {
    padding: 2em;
    margin: 0;
  }
  @media screen and (max-width: $mobile) {
    // margin: 0 23%;
    // margin: 0;
    padding: 5rem 0;
  }
}

.gallery-container{
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(16em,1fr));

  // border: solid 1px blue;

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, minmax(16em,1fr));
  }
  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(2, minmax(16em,1fr)); 
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(1, minmax(16em,1fr)); 
  }

  & .video-container{
    // border: solid 1px red;

    width: 20vw;
    height: 11vw;

    @media screen and (max-width: $tablet) {
      width: 41vw;
      height: 23vw;
    }

    @media screen and (max-width: $mobile) {
      width: 75vw;
      height: 42vw;
    }
    

    & .video-player{
      // border: solid 1px green;
    }
  }
}

#web{
  padding: 3rem 4rem;
  max-width: 100vw;
  @media screen and (max-width: $mobile) {
    padding: 5rem 1rem;
  }
}

.web-container{
  $card-primary: $red;
  $card-secondary: $blue;
  display: flex;
  flex-direction: row;

  position: relative;
  margin: 0 1rem 5rem 1rem;
  padding: 3rem;

  color: $white;
  border-radius: 3rem;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }

  @media screen and (max-width: $mobile) {
    padding: 1rem;
    flex-direction: column;
  }

  & .background-shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $card-primary;
    border-radius: 3rem;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 40% 100%) ;
    z-index: -1;
  }

  & .info{
    flex: 1;
    padding: 1em;
    min-width: 20rem;

    @media screen and (max-width: $mobile) {
      min-width: 5rem;
    }
    
    & .title{
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    & .quote{
      font-style: italic;
      font-size: 0.8rem;
    }
  
    & .job{
      font-size: 1rem;
      font-style: italic;
      padding: 0;
    }
    & .links{
      display: flex;
      flex-direction: inherit;
      margin: 3rem 0;
    }
  }

  & .images{
    flex: 1;
    padding: 1rem;

    & .image-container{
      position: relative;
      width: 100%;
      text-align: center;

      & .desktop{
        width: 30rem;
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.7));
        
        @media screen and (max-width: $mobile) {
          width: 20rem;
        }
      }
    
      & .mobile{
        position: absolute;
        width: 7rem;
        right: 0;
        bottom: 0;
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.7));

        @media screen and (max-width: $mobile) {

        }
      }

      & .mobile-only{
        width: 12rem;
        // padding: 0 6rem;
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.7));

        @media screen and (max-width: $mobile) {
          
        }
      }
    }
  }
}




